<div class="modal fade" id="modalToggle{{id}}" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{mensagem}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>