<form method="post">
    <tr>
        <td>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column">
                    <span class="fw-semibold lh-1"><span
                            class="fw-medium text-nowrap badge bg-label-success">{{nome}}</span></span>
                    <input type="hidden" value="{{id}}" name="id">
                </div>
            </div>
        </td>

        <td>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column">
                    <span class="fw-semibold lh-1">{{description}}</span>
                </div>
            </div>
        </td>

        <td>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column">
                    <span class="fw-semibold lh-1">{{criado}}</span>
                </div>
            </div>
        </td>

        <td>
            <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" type="submit" name="excluir" value="excluir">
                        <i class="bx bx-trash me-1"></i>
                        Excluir
                    </button>
                </div>
            </div>
        </td>
    </tr>
</form>