
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            Criado com <i class='bx bx-heart bx-flashing' ></i> e muito <i class='bx bx-coffee bx-flashing'></i></i> Por <a href="https://tessinfinity.com" target="_blank" class="footer-link fw-bolder"> Tess Infinity</a> ©
            <script>
                document.write(new Date().getFullYear())
            </script>

        </div>
        <div>
            <!--<a href="https://tessinfinity.com/documentação/" target="_blank" class="footer-link me-4">Documentação</a>
            <a href="https://tessinfinity.com/suporte/" target="_blank" class="footer-link d-none d-sm-inline-block">Suporte</a>-->
        </div>
    </div>
</footer>
<div class="content-backdrop fade"></div>
</div>
</div>
</div>
</div>
<div class="layout-overlay layout-menu-toggle"></div>
<div class="drag-target"></div>